#primary {
  font: var(--text-header-1);   
  padding-block: 20px;

  div:nth-child(2) {
    justify-self: center;
  }

  div:nth-child(3) {
    justify-self: end;
  }
   
  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
}

#secondary a {
  text-decoration: none;
  color: var(--text-color-secondary);
}

#secondary {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  font: var(--text);
  justify-content: space-between;
}


