.grid {
  display: grid;
}

.grid-flow {
  display: grid;
  grid-auto-flow: column;
}

.gridf-2-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gap-16 {
  gap: 16px;
}

.text-2xl {
  font: var(--h1);
}
.text-xl {
  font: var(--h2);
}
.text-l {
  font: var(--h3);
}
.text-sm {
  font: var(--text-sm);
}
